html, body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
* {
    font-family: 'Crimson Pro', serif;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
